[flake8]
# W503: PEP8 suggests to use line break before operator in new code
# E203: PEP8 suggests to leave an equal amount of space on either side of : in slice
ignore = W503,E203

# black default value, explanation below:
# "This number was found to produce significantly shorter files than
# sticking with 80 (the most popular), or even 79 (used by the standard library).
# In general, 90-ish seems like the wise choice."
max-line-length = 88
