{%- if cookiecutter.database == 'Postgres' %}
{{ cookiecutter.__project_slug | upper }}_DATABASE_USER={{ cookiecutter.__project_slug }}
{{ cookiecutter.__project_slug | upper }}_DATABASE_PASSWORD={{ cookiecutter.__project_slug }}
{{ cookiecutter.__project_slug | upper }}_DATABASE_NAME={{ cookiecutter.__project_slug }}
{{ cookiecutter.__project_slug | upper }}_DATABASE_HOST=localhost
{{ cookiecutter.__project_slug | upper }}_DATABASE_URL=postgresql+psycopg://${% raw %}{{% endraw %}{{ cookiecutter.__project_slug | upper }}_DATABASE_USER}:${% raw %}{{% endraw %}{{ cookiecutter.__project_slug | upper }}_DATABASE_PASSWORD}@${% raw %}{{% endraw %}{{ cookiecutter.__project_slug | upper }}_DATABASE_HOST}:${% raw %}{{% endraw %}{{ cookiecutter.__project_slug | upper }}_DATABASE_PORT:-5432}/${% raw %}{{% endraw %}{{ cookiecutter.__project_slug | upper }}_DATABASE_NAME}
{%- endif %}