[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "{{ cookiecutter.python_version }}"

[packages]

[dev-packages]
# testing
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-cov = "*"

# code quality
flake8 = "*"
black = "{{ cookiecutter._black_version }}"
isort = "*"
mypy = "{{ cookiecutter._mypy_version }}"
pre-commit = "*"

[scripts]
# set up the project
setup = """bash -c '
    pipenv install -d && \
    pre-commit install --install-hooks
'"""

# run tests
test = "pytest"

# run tests with coverage
test_cov = "pytest --cov --cov-report term-missing:skip-covered"

# check code quality
codeqa = "pre-commit run --all-files"
