[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "{{ cookiecutter.python_version }}"

[packages]

[dev-packages]
# testing
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-cov = "*"

# code quality
flake8 = "*"
black = "{{ cookiecutter._black_version }}"
isort = "*"
pre-commit = "*"
